.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    gap: 5px;
    
}
.card img{
    width: 100%;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
    height: 232px;
    object-fit: cover;
}
body{
    background-color:bisque;
}
.card{
    position: relative;
    transition: 0.8s;
}
.card.active{
    width: 300px;
    height: 236px;
    z-index: 1;;
    transform: scale(2.0) translate(100px);
}
.text{
    font-family: tahoma;
    position: absolute;
    bottom: -130px;
    left: 0;
    right: 0;
    background-color: rgba(60, 40, 20, 0.8);
    border-radius: 5px;
    color: #f5f0e8;
    padding: 10px;
    font-size: 10px;
    bottom: 3px;
    padding-top:1px;
    padding-bottom: 1px;
    line-height:3px;
}